.lmst-button {
	cursor: pointer;
  border-radius: 0;
  border: solid 1px var(--main-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;

	&:disabled {
		background-color: transparent;
    color: var(--main-color);
		opacity: .5;
	}

  &:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
  }
}
