:root {
  --wsl-background-color: #1B2838;
  --wsl-secondary-background-color: #16202D;
  --wsl-main-text-color: #86b5d9;
  --wsl-secondary-text-color: #8F98A0;
  --wsl-button-color: #a4d007;
  --wsl-button-secondary-color: #536904;
}
