.wsl-steam-account-link {
	display: block;
	width: 100%;
	background-color: var(--wsl-background-color);
	border: solid 2px var(--wsl-button-color);
	padding: 1rem;

	&__link-account {
		p {
			&:last-child {
				margin-bottom: 0;
			}
			margin-bottom: 1rem;
            text-align: center;
		}
	}

	.steam-button {
		display: table;
		margin: 0 auto;
	}
}
